# Miscellaneous convars and optional toggles.

# Renewed-Weathersync
setr weathersync:enableSnow false

# qbx_density population multipliers (0.0–1.0)
setr qbx_density:vehicle 0.6
setr qbx_density:peds 0.6
setr qbx_density:scenario 0.6
setr qbx_density:parked 0.5

# scully_emotemenu
setr scully_emotemenu:keybind "Y"
