# ── ox_lib ──────────────────────────────────────────────────────────────
setr ox:locale en
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

# ── ox_inventory ────────────────────────────────────────────────────────
setr inventory:framework "qbx"
setr inventory:locale "en"
setr inventory:weight 30000
setr inventory:slots 50
setr inventory:vehicleweight 100000
setr inventory:vehicleslots 50
setr inventory:dropslots 50
setr inventory:dropweight 100000
setr inventory:enablekeys [249]
set inventory:autosaveinterval 600
set inventory:clearstashes "6 MONTH"

# ── ox_target ───────────────────────────────────────────────────────────
setr ox_target:debug false
setr ox_target:drawSprite true
setr ox_target:defaultDistance 2.2

# ── ox_fuel ─────────────────────────────────────────────────────────────
setr ox_fuel:showBlips 1
